.project-section {
  background-color: #1a171e;
}
.project-section h2 {
  color: #e8e8e8;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-cards:hover,
.cards {
  box-shadow: 0px 1px 35px 0px rgb(77, 35, 173, 0.9);
}
.image img {
  transition: 0.3s;
}
.project-cards:hover .image img,
.cards:hover .image img {
  opacity: 0.6;
  transform: scale(1.1);
}

.project-cards .content,
.cards .content {
  position: absolute;
  bottom: 0px;
  background-color: #120e16;
  color: #888888;
  padding: 20px 30px;
}
.content .title {
  font-size: 20px;
  font-weight: bold;
  color: #e8e8e8;
}
.content .sub-title {
  font-size: 15px;
  margin-bottom: 10px;
}
.bottom button {
  padding: 7px 15px;
  font-size: 17px;
  background-color: rgb(77, 35, 173);

  border: none;
  margin: 20px 0;
}

.tech {
  display: flex;
  flex-wrap: wrap;
}
.tech span {
  background: #9f38a5;
  color: #e8e8e8;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 0px 10px;
  font-size: 13px;
  font-weight: 500;
  height: 29px;
}
.project-page-container {
  padding-top: 100px;
  background-color: #1a171e;
}
.project-page-container h2 {
  color: #e8e8e8;
  text-align: center;
}
.svg-class {
  fill: aliceblue;
  height: 20px;
}

.github-icon {
  color: white;
  margin-left: 0px;
}

.link-icon {
  color: white;
  margin-left: 10px;
}
