.header-wrapper {
  background-color: #120e16;
  position: relative;
  height: 80vh;
  box-shadow: 5px -3px 18px 0px #888888;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.name-border {
  border-bottom: 0.19rem solid rgba(77, 35, 173, 0.9);
}
.main-info h5 {
  color: #9f38a5;
}
.main-info h1 {
  color: #e8e8e8;
}
.typed-text {
  font-size: 1.75rem;
  font-weight: 700;
  color: #888888;
}
.btn-main {
  border: 1px solid #4d23ad;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #e8e8e8;
  margin: 2rem;
}

a.btn-main:hover {
  text-decoration: none !important;
  background-color: #4d23ad;
  color: #e8e8e8;
  transition: 0.2s ease-in-out;
}

.header-glow {
  font-weight: bolder;
}
