.home-blog-container {
  background-color: #120e16;
  box-shadow: 10px -1px 19px 0px #888888;
}
.home-blog-container h2 {
  color: #e8e8e8;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.image img {
  transition: 0.3s;
}

.content .title {
  font-size: 34px;
  font-weight: bolder;
  color: #e8e8e8;
}
.content .sub-title {
  font-size: 18px;
  /* font-weight: 500; */
  margin-bottom: 10px;
}
.bottom {
  text-align: justify;
  line-height: 1.8rem;
}
.bottom button {
  float: left;
  padding: 7px 15px;
  font-size: 17px;
  background-color: rgb(77, 35, 173);

  color: #e8e8e8;
  border: none;
  margin: 10px 0;
}

.blog-container {
  background-color: #1a171e;
  padding-top: 100px;
}
