body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
@-ms-viewport {
  width: 300px;
}
/* xxl  */
@media (min-width: 1400px) {
  .cards {
    position: relative;
    height: 486px;
    width: 340px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .cards .image {
    height: 450px;
    overflow: hidden;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 525px;
    width: 456px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 450px;
    overflow: hidden;
  }
}
/* xl  */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  .cards {
    position: relative;
    height: 497px;
    width: 314px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    border-radius: 20px;
  }
  .cards .image {
    height: 350px;
    overflow: hidden;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 525px;
    width: 456px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 450px;
    overflow: hidden;
  }
}
/* l  */
@media (min-width: 992px) and (max-width: 1199.99px) {
  .cards {
    position: relative;
    height: 507px;
    width: 294px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    border-radius: 20px;
  }
  .cards .image {
    height: 300px;
    overflow: hidden;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 525px;
    width: 456px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 450px;
    overflow: hidden;
  }
}
/* md  */
@media (min-width: 768px) and (max-width: 991.99px) {
  .cards {
    margin: 0 auto;
    position: relative;
    height: 529px;
    width: 328px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    border-radius: 20px;
  }
  .cards .image {
    height: 300px;
    overflow: hidden;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 505px;
    width: 315px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 450px;
    overflow: hidden;
  }
  .navbar-nav li {
    margin: 10px auto;
  }
}
/* sm  */
@media (min-width: 576px) and (max-width: 767.99px) {
  .cards {
    margin: 0 auto;
    position: relative;
    height: 560px;
    width: 525px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    border-radius: 20px;
  }
  .cards .image {
    height: 300px;
    overflow: hidden;
  }
  .navbar-nav li {
    margin: 10px auto;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 490px;
    width: 400px;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 450px;
    overflow: hidden;
  }
}
/* xsm  */
@media (max-width: 575.99px) {
  .cards {
    margin: 0 auto;
    position: relative;
    height: 31.875rem;
    width: 24.063rem;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    border-radius: 20px;
  }
  .cards .image {
    height: 18.75rem;
    overflow: hidden;
  }
  .project-cards {
    margin: 0 auto;
    position: relative;
    height: 30.625rem;
    width: 25rem;
    display: block;
    box-shadow: 0px 1px 2px 0px rgb(77, 35, 173, 0.6);
    transition: 0.4s linear;
    overflow: hidden;
  }
  .project-cards .image {
    height: 28.125rem;
    overflow: hidden;
  }
  .navbar-nav li {
    margin: 10px auto;
  }
}
