.footer-main-container,
.footer-main-container p {
  background-color: #1a171e;
  color: #9f38a5;
}
.footer-link-main {
  text-decoration: none;
  color: #9f38a5;
}
.footer-link-main:hover {
  text-decoration: underline;
  color: #fff;
}
